<!doctype html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="Mark Otto, Jacob Thornton, and Bootstrap contributors">
    <meta name="generator" content="Hugo 0.79.0">
    <title>Node.JS Home Page</title>

    <!-- Bootstrap core CSS -->
    <link href="/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">


    <!-- Custom styles for this template -->
    <link href="/css/signin.css" rel="stylesheet">
    <link rel="stylesheet" href="/cover.css">

    <style>
        .bd-placeholder-img {
            font-size: 1.125rem;
            text-anchor: middle;
            -webkit-user-select: none;
            -moz-user-select: none;
            user-select: none;
        }

        @media (min-width: 768px) {
            .bd-placeholder-img-lg {
                font-size: 3.5rem;
            }
        }

        .button {
            color: #333;
            background-color: #fff !important;
            border-color: #6c757d;
            font-weight: 700 !important;
        }
    </style>

</head>

<body class="d-flex h-100 text-center text-white bg-dark">

    <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
        <header class="mb-auto">
            <div>
                <h3 class="float-md mb-50">Movie</h3>
                <nav class="nav nav-masthead justify-content-center">
                    <a class="nav-link active" aria-current="page" href="/main">Home</a>
                    <a class="nav-link" href="/logout">Logout</a>
                </nav>
            </div>
        </header>


        <main class="form-signin" id="showWrap" style="overflow:auto">
            <!--<ul>
                <li class="get_all">
                    <button>모든영화보기</button>
                    <section class="showResult"></section>
                </li>-->
            <div class="get_all" style="position: relative; left:0">
                <button class="btn btn-lg btn-primary" style="color: #333; 
               background-color: #fff!important; 
               border-color: #6c757d;
               font-weight: 700!important;">모든영화보기</button>
                <section class="showResult"></section>
            </div>

            <p></p>
            <div class="post">
                <form action="/" method="post">
                    <div> 제목 : <input type="text" class="form-control" name="title" placeholder="Terminator"> </div>
                    <div> 장르 : <input type="text" class="form-control" name="type" placeholder="drama"> </div>
                    <div> 평점 : <input type="text" class="form-control" name="grade" placeholder="8.43"> </div>
                    <div> 주연 : <input type="text" class="form-control" name="actor" placeholder="Tom cruise"> </div>
                </form>
                <p></p>
                <button class="btn btn-lg btn-primary" style="color: #333; 
                background-color: #fff!important; 
                border-color: #6c757d;
                font-weight: 700!important;">영화추가</button>
                <section class="showResult"></section>
            </div>

        <p></p>
            <div class="get_id">
                <input type="text" name="title" class="form-control">
                <p></p>
                <button class="btn btn-lg btn-primary" style="color: #333; 
                background-color: #fff!important; 
                border-color: #6c757d;
                font-weight: 700!important;">영화상세정보</button>
                <p></p>
                <section class="showResult"></section>
            </div>

            <p></p>
            <div class="delete_id">
                <input type="text" name="title" class="form-control">
                <p></p>
                <button class="btn btn-lg btn-primary" style="color: #333; 
                background-color: #fff!important; 
                border-color: #6c757d;
                font-weight: 700!important;">영화삭제</button>
                <section class="showResult"></section>

            </div>

            <!--
            <p></p>
            <div class="update_id">
                <form action="/" method="post">
                    <div> 제목 : <input type="text" class="form-control" name="title" placeholder="Terminator"> </div>
                    <div> 장르 : <input type="text" class="form-control" name="type" placeholder="drama"> </div>
                    <div> 평점 : <input type="text" class="form-control" name="grade" placeholder="8.43"> </div>
                    <div> 주연 : <input type="text" class="form-control" name="actor" placeholder="Tom cruise"> </div>
                </form>
                <p></p>
                <button class="btn btn-lg btn-primary" style="color: #333; 
                background-color: #fff!important; 
                border-color: #6c757d;
                font-weight: 700!important;">영화정보갱신</button>
                <section class="showResult"></section>
            </div>
            -->
            
            <!--
            <p></p>
            <div class="get_min">
                <button class="btn btn-lg btn-primary" style="color: #333; 
                background-color: #fff!important; 
                border-color: #6c757d;
                font-weight: 700!important;">현재 상영중인영화</button>
                <section class="showResult"></section>
            </div>
            -->
        </main>
    </div>


    <script>
        document.querySelector('#showWrap').addEventListener('click', function (e) {
            let url, method, data, fn;
            const target = e.target;
            const li = target.closest('DIV');
            const showResult = li.querySelector(".showResult");
            const type = li.className;
            if (target.tagName !== "BUTTON") return;
            switch (type) {
                case "get_all":
                    url = "/movie";
                    method = "GET";
                    fn = function (result) {
                        if (result.result === 1) {
                            let titles = result.data.reduce(function (pre, next) {
                                pre += "<h4>" + next.title + "</h4>"
                                return pre;
                            }, "");
                            showResult.innerHTML = "<p>" + titles + "</p>";
                        } else {
                            showResult.innerHTML = "list not found";
                        }
                    }
                    break;
                case "post":
                    url = "/movie";
                    method = "POST";
                    let inputs = [].slice.call(document.querySelector("form").elements);
                    data = inputs.reduce(function (pre, next) {
                        pre[next.name] = next.value;
                        return pre;
                    }, {});
                    fn = function (result) {
                        if (result.result === 1) showResult.innerHTML = "새로운 영화 데이터가 잘 추가됐습니다.";
                        else showResult.innerHTML = "list not found";
                    }
                    break;
                case "get_id":
                    url = "/movie/" + li.getElementsByTagName("input")[0].value;
                    method = "GET";
                    fn = function (result) {
                        if (result.result === 1) {
                            showResult.innerHTML = result.data[0].actor;
                        } else {
                            showResult.innerHTML = "해당하는 영화가 없네요..";
                        }
                    }
                    break;
                case "delete_id":
                    url = "/movie/" + li.getElementsByTagName("input")[0].value;
                    method = "DELETE";
                    fn = function (result) {
                        if (result.result === 1) {
                            showResult.innerHTML = "선택한영화" + result.data + "가 잘 삭제됐습니다";
                        } else {
                            showResult.innerText = "해당영화가 없습니다";
                        }
                    }
                    break;
                default:
                    // statements_def
                    console.log("default");
                    break;
            }
            sendAjax(url, method, data, fn);
        })
        //@data : json format.
        function sendAjax(url, method, data, fn) {
            const xhr = new XMLHttpRequest();
            xhr.open(method, url);
            if (data) {
                data = JSON.stringify(data);
                xhr.setRequestHeader('Content-Type', "application/json");
            } else {
                data = null;
            }
            xhr.send(data);
            xhr.addEventListener('load', function () {
                const result = JSON.parse(xhr.responseText);
                fn(result);
            });
        }
    </script>

</body>

</html>